COMPOSE_PROJECT_NAME=learningforkidz
WORDPRESS_BIND=100.109.57.34
WORDPRESS_PORT=8085
WORDPRESS_DB_NAME=learningforkidz
WORDPRESS_DB_USER=learningforkidz
WORDPRESS_DB_PASSWORD=learningforkidz_dev_password
WORDPRESS_DB_ROOT_PASSWORD=learningforkidz_root_password
